* {
  margin: 0;
  padding: 0;
}
section {
  width: 100%;
  height: 100%;
}
/* header */
/* main */
/* トップ */
.top {
  width: auto;
  height: 100vh;
  background-color: pink;
  padding: 1px;
}
.top_ttl {
  font-size: 60px;
  font-weight: bold;
  position: absolute;
  padding: 75px;
}
.top_visual {
  height: -webkit-fill-available;
  background: url(../img/goby-Zbw-eJU3YOI-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 8%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.top_left {
  height: 200px;
  width: 200px;
  border: 1px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 30px;
  text-align: center;
  background-color: rgb(175, 255, 28);
}
.top_left a {
  text-decoration: none;
  color: black;
}
.first {
  color: rgb(98, 71, 255);
  font-size: small;
}
.bottom {
  font-weight: bold;
  font-size: 30px;
}
.top_right {
  font-size: 100px;
  color: rgb(147, 224, 3);
  font-weight: bold;
}
.sub_visual {
  height: 100vh;
  background: url(../img/diana-polekhina-sgzJMbUQbYg-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.description {
  width: 30%;
  text-align: center;
  margin-right: 10%;
  line-height: 40px;
  letter-spacing: 3px;
}
.description >h1 {
  font-size: 30px;
  background-color: white;
  margin-bottom: 50px;
}
.mdl_ttl {
  height: 30vh;
  background-color: mediumturquoise;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  font-weight: bold;
}
.item_nav {
  height: 100vh;
  display: flex;
  align-items: center;
  padding-left: 7%;
}
.nav_1 {
  background: url(../img/goby-7fqy0iDE5e8-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}
.nav_2 {
  background: url(../img/goby-D0ApR8XZgLI-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}
.item_ttl {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
  background-color: white;
}
.item_description {
  width: 35%;
  font-size: 15px;
  text-align: center;
  margin-right: 10%;
  line-height: 40px;
  letter-spacing: 3px;
}
span {
  color: rgb(255, 0, 0);
}
.btn {
  margin-top: 20px;
}
.btn >a {
  text-decoration: none;
  background-color: white;
  padding: 10px 30px;
  border-radius: 50px;
  color: royalblue;
  font-size:large;
  font-weight: bold;
}
.btn_2 >a{
  color: rgb(231, 154, 167);
}
.btn>a:hover {
  color: pink;
}
.btn_2>a:hover {
  color: royalblue;
}

/* footer */
.footer_nav {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(166, 255, 0);
}
.footer_nav h2 {
  font-size: 30px;
}
.footer_nav ul {
  display: flex;
}
.footer_nav a {
  padding: 0 15px;
  text-decoration: none;
  color: black;
  font-size: small;
}
.footer_nav img {
  width: 50px;
}
.footer_nav p {
  font-size: small;
}

@media screen and (max-width:780px){
  .top_ttl {
    font-size: 85px;
    text-align: center;
    padding: 30px 0 0 0;
  }
  .top_left {
    display: none;
  }
  .top_right {
    font-size: 60px;
  }
  .description {
    width: 95%;
    margin: 0 auto;
    font-size: 12px;
    line-height: 30px;
    text-align: center;
  }
  .description >h1 {
    font-size: 25px;
  }
  .mdl_ttl >p{
    font-size: 50px;
  }
  .nav_1 {
    background-position: center;
  }
  .nav_2 {
    background: url(../img/goby-xrnyjWMpFEo-unsplash-removebg-preview.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .item_ttl {
    font-size: 15px;
    letter-spacing: 0;
  }
  .item_description {
    width: 95%;
    font-size: 13px;
    line-height: 30px;
    padding: 0;
  }
  .btn >a{
    font-size: 15px;
  }
  .btn_2 >a{
    color: rgb(240, 205, 108);
  }
  .footer_nav {
    background-color: pink;
  }
  .footer_btm {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}